<!DOCTYPE html>
 <html>

 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
    </script>
    <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
  
    <title>Dashboard</title>
    <style>
        .my-custom-scrollbar {
                  position: relative;
                  height: 400px;
                  overflow:auto;
        }
       .table-wrapper-scroll-y {
                  display: block;
        }
      
        .table thead {
            background-color: #4bc0c0;}
        .div-scrollbar {
                  position: relative;
                  height: 400px;
                  overflow:auto;
        }
       .div-wrapper-scroll-y {
                  display: block;
        }

        
    </style>
  </head>

 <body style="background-color: white">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343b50;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link "  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active "  href="/results">Dashboard</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link "  href="/clusteringkmeans">Clustering</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="/clusteringkmeans" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Clustering
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item " href="/clusteringkmeans">K-means</a></li>
                  <li><a class="dropdown-item" href="clusteringKmodes">K-modes</a></li>
                  
                </ul>
              </li> 

              <li class="nav-item">
                <a class="nav-link "  href="/association">Association</a>
              </li>
  
             
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/construction">Apprentissage</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/classification">Prédiction</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    
    <br> <br>
    

    <div class="container" >
         <div class="row">
           <div class="container" style="width: 100%;">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
             <table class="table ">
                <thead>
                    <tr>
                        {% for header in headers%}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    
                        {% for row in data%}
                         <tr>
                          {% for r in row%}
                             
                              <td>{{r}}</td>
                           
                           
                          {% endfor %}
                         </tr>
                        {% endfor %}
                    
                </tbody>
             </table>
            </div>
            <br><br>
            <div>
                <h5 style="text-align: center; color:red">{{message}}</h5>
            </div>
            <br><br>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats  mb-3">
                    <div class="card-header card-header-warning card-header-icon">
                        <p class="card-category" style="color: #000000">Aspect</p>
                        {% if aspNdom == 'Pr' %}
                          <h4 class="card-title"style="color:rgb(187, 140, 140)">Présentation&emsp;{{aspDom}}
                          </h4>
                        {% elif aspNdom == 'C' %}
                          <h4 class="card-title" style="color:rgb(187, 140, 140)">Contenu &emsp;&emsp; {{aspDom}}
                          </h4>
                        {% elif aspNdom == 'S' %}
                           <h4 class="card-title" style="color:rgb(187, 140, 140)">Structure &emsp;&emsp; {{aspDom}}
                           </h4>
                        {% elif aspNdom == 'D' %}
                           <h4 class="card-title" style="color:rgb(187, 140, 140)">Design &emsp;&emsp; {{aspDom}}
                           </h4>
                        {% elif aspNdom == 'Co' %}
                           <h4 class="card-title" style="color:rgb(187, 140, 140)">Communication &emsp; {{aspDom}}
                          </h4>
                        {% else %}
                          <h4 class="card-title" style="color:rgb(187, 140, 140)">Général &emsp;&emsp; {{aspDom}}
                          </h4>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats  mb-3">
                  <div class="card-header card-header-warning card-header-icon">
                      <p class="card-category" style="color: #000000">Valeur</p>
                      {% if VDom == 'U' %}
                        <h4 class="card-title"style="color:rgb(187, 140, 140)">Utilité {{VNdom}}
                        </h4>
                      {% elif VDom == 'I' %}
                        <h4 class="card-title" style="color:rgb(187, 140, 140)">Intrinsèque {{VNdom}}
                        </h4>
                      {% elif VDom == 'A' %}
                         <h4 class="card-title" style="color:rgb(187, 140, 140)">Accomplissement {{VNdom}}
                         </h4>
                      {% else %}
                        <h4 class="card-title" style="color:rgb(187, 140, 140)">Cout &emsp;&emsp; {{VNdom}}
                        </h4>
                      {% endif %}
                  </div>
              </div>
          </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats  mb-3" >
                    <div class="card-header card-header-warning card-header-icon">
                        <p class="card-category" style="color: #000000">Polarité</p>
                        {% if polDom == 'P' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Positive &emsp;&emsp;&emsp;{{polNdom}}
                          </h4>
                        {% elif polDom == 'N' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Négative &emsp;&emsp; {{polNdom}}
                          </h4>
                        {% else %}
                          <h4 class="card-title" style="color:rgb(187, 140, 140)">Neutre &emsp;&emsp; {{aspDom}}
                          </h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats  mb-3" >
                  <div class="card-header card-header-warning card-header-icon">
                      <p class="card-category" style="color: #000000">attente</p>
                      {% if ExDom == 'P' %}
                        <h4 class="card-title" style="color: rgb(187, 140, 140)">Positive &emsp;&emsp;&emsp;{{ExNdom}}
                        </h4>
                      {% elif ExDom == 'N' %}
                        <h4 class="card-title" style="color: rgb(187, 140, 140)">Négative &emsp;&emsp; {{ExNdom}}
                        </h4>
                      {% else %}
                        <h4 class="card-title" style="color:rgb(187, 140, 140)">Neutre &emsp;&emsp; {{ExNDom}}
                        </h4>
                      {% endif %}
                  </div>
              </div>
          </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats  mb-3">
                    <div class="card-header card-header-success card-header-icon">
                        <p class="card-category" style="color: #000000;">Sentiment</p>
                        {% if emoDom == 'J' %}
                         <h4 class="card-title"style="color: rgb(187, 140, 140)">Joie&emsp;&emsp;&emsp;&emsp;&emsp;{{emoNdom}}</h4>
                        {% elif emoDom == 'M' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Mécontentement {{emoNdom}}</h4>
                        {% elif emoDom == 'C' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Colère&emsp;&emsp;{{emoNdom}}</h4>
                        {% elif emoDom == 'A' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Anxiété&emsp;&emsp;{{emoNdom}}</h4>
                        {% elif emoDom == 'E' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Ennui&emsp;&emsp;{{emoNdom}}</h4>
                        {% elif emoDom == 'F' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Confusion&emsp;&emsp;{{emoNdom}}</h4>
                        {% else %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Neutre&emsp;&emsp;{{emoNdom}}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats mb-3">
                    <div class="card-header card-header-danger card-header-icon">
                        <p class="card-category" style="color: #000000">Attitude</p>
                        {% if attiDom == 'NE' %}
                          <h4 class="card-title"style="color: rgb(187, 140, 140)">Neutre&emsp;&emsp;&emsp;{{attiNdom}}</h4>
                        {% elif attiDom == 'A' %}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Amicale&emsp;&emsp;&emsp;{{attiNdom}}</h4>
                        {% else%}
                          <h4 class="card-title" style="color: rgb(187, 140, 140)">Hostile&emsp;&emsp;&emsp;{{attiNdom}}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
         </div>

         <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart  mb-3">
                 <div class="card-body">
                     <div class="chart-area">
                         <canvas id="bar-chartpa"></canvas>
                     </div>
                </div>
            </div>
           </div> 
           <div class="col-lg-6">
            <div class="card card-chart  mb-3">
                 <div class="card-body">
                    <br><br>
                    {% load static %}
                    <img src="{% static '/images/wordcloud.png' %}" alt="My image" style="width:100%">

                </div>
            </div>
           </div>
           <div class="col-lg-6">
               <div class="card card-chart  mb-3">
                   <div class="card-body">
                      <div class="chart-area">
                        <canvas id="pie-chartV"></canvas>
                      </div>
                   </div>
              </div>
           </div>

           <div id="canvas-holder" style="width:100%">
            <canvas id="chart"></canvas>
           </div>
          
          
             <script >
                  var ctx = document.getElementById("chart").getContext("2d");
          
          var chart = new Chart(ctx, {
            type: 'gauge',
            data: {
              datasets: [{
                value: 0.5,
                minValue: 0,
                data: [1, 2, 3, 4],
                backgroundColor: ['green', 'yellow', 'orange', 'red'],
              }]
            },
            options: {
              needle: {
                radiusPercentage: 2,
                widthPercentage: 3.2,
                lengthPercentage: 80,
                color: 'rgba(0, 0, 0, 1)'
              },
              valueLabel: {
                display: true,
                formatter: (value) => {
                  return '$' + Math.round(value);
                },
                color: 'rgba(255, 255, 255, 1)',
                backgroundColor: 'rgba(0, 0, 0, 1)',
                borderRadius: 5,
                padding: {
                  top: 10,
                  bottom: 10
                }
              }
            }
          });
              </script>

           <div class="col-lg-6">
                <div class="card card-chart  mb-3">
                    <div class="card-body">
                       <div class="chart-area">
                         <canvas id="line-chartd"></canvas>
                       </div>
                    </div>
               </div>
            </div>

            <div class="col-lg-6">
              <div class="card card-chart mb-3">
                 <div class="card-body">
                    <div class="chart-area">
                      <canvas id="pie-chartEx"></canvas>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-lg-6">
                <div class="card card-chart mb-3">
                   <div class="card-body">
                      <div class="chart-area">
                        <canvas id="pie-chartA"></canvas>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart  mb-3">
                    <div class="card-body">
                     <div class="chart-area">
                        <canvas id="pie-chart"></canvas>
                     </div>
                   </div>
                </div>
            </div>
        <div class="col-lg-6">
            <div class="card card-chart  mb-3">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="pie-chartS"></canvas>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-lg-6">
            <div class="card card-chart  mb-3">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="pie-chartT"></canvas>
                    </div>
                </div>
            </div>
       </div> 
       <div class="col-lg-6">
           <div class="card card-chart  mb-3">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="bar-chartg"></canvas>
                    </div>
               </div>
          </div>
       </div> 
       <div class="col-lg-6">
            <div class="card card-chart  mb-3">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="bar-chartgS"></canvas>
                  </div>
               </div>
           </div>
       </div>
       <div class="col-lg-6">
           <div class="card card-chart mb-3">
               <div class="card-body">
                  <div class="chart-area">
                       <canvas id="bar-chartgA"></canvas>
                  </div>
               </div>
          </div>
      </div>
    </div>
    <div class="modal" id="myModal" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
  
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" id="hi">
                  <canvas id="line-test" width="700"></canvas>
                               
               </div>
  
          </div>
      </div>
  </div>
</div>
</div>


  <script>

        var colorArray = [
            '#FD6C9E', '#AF7AC5', '#5DADE2', '#E59866', '#F5B041',
            '#AAB7B8', '#F18989', '#06d2a6', '#DFE8AA', '#c45850',
            '#E1CE9A', '#87591A', '#9DC025',  '#FD4626', '#87E990',
            '#C2F732','#679F5A',  '#40826D',   '#DF73FF', '#C71585',
            '#800080','#9683EC','#386F48',    '#FFE4C4',  '#E1CE9A',
            '#CC5500', '#DE9816', '#08541E','#08546C',"#4F546C",'#8EADDB',
            '#8E84DB','#CFB9F2','#7D7905','#ffe1c2','#c0f9fb',"#d48568",
            '#ab5551','#b25d49','#595c48','#f2c796','#d09a8d','#aa5652','#5b7c76',
            '#472e34','#533b3b','#6f5066','#ff7e50','#720126','#54000c','#aeadf0',
            '#585878','#a56470','#c38d94','#3ef9bc','#16b065','#56e38b','#19d5b1','#1ac9e0',
            '#c0e6e8','	#83b3cb','#2d608a','#161f59','#3b537c','#63735a','#443b7c','#7c3b53',
            '#7c643b','#103c08','#fec22d','#011a3f','#bbbbbb','#25bfa9','#3b537c','	#7c3b53',
            '#fdff00','#00abff','#9600ff','#cc8a3f','#64b4c2'
            ];

        new Chart(document.getElementById("pie-chart"),{
            type: "pie",
            data: {
                labels: {{ listkeys_P| safe }},
                datasets: [{
                        label: "",
                        backgroundColor: colorArray,
                        data: {{listvalues_P| safe }}
                }]
            
            },
            options: {
                   title: {
                        display: true,
                        text: 'Nombre de commentaires par Polarité'

                        
                        
                    }
                    
            }
        });


        new Chart(document.getElementById("pie-chartV"),{
            type: "pie",
            data: {
                labels: {{ listkeys_V| safe }},
                datasets: [{
                        label: "",
                        backgroundColor: colorArray,
                        data: {{listvalues_V| safe }}
                }]
            
            },
            options: {
                   title: {
                        display: true,
                        text: 'Nombre de commentaires par Valeur',

                        
                        
                    }
                    
            }
        });

       new Chart(document.getElementById("pie-chartA"), {
            type: 'pie',
            data: {
                labels: {{listkeys_A| safe }},
                datasets: [{
                        label: "",
                        backgroundColor: colorArray,
                        data: {{ listvalues_A| safe }}
                  }]
           },
            options: {
                   title: {
                        display: true,
                        text: 'Nombre de commentaires par Aspect'
                   }
            }
        });

       new Chart(document.getElementById("pie-chartEx"), {
            type: 'pie',
            data: {
                labels: {{listkeys_Ex| safe }},
                
                datasets: [{
                        label: "",
                        backgroundColor: colorArray,
                        data: {{ listvalues_Ex| safe }}
                  }]
           },
            options: {
                   title: {
                        display: true,
                        text: 'Nombre de commentaires par attente'
                   }
            }
        });

        new Chart(document.getElementById("pie-chartS"), {
                type: 'pie',
                data: {
                    labels: {{ listkeys_S| safe }},
                    datasets: [{
                            label: "",
                            backgroundColor: colorArray,
                            data: {{ listvalues_S| safe }}
                        }]
                },
                options: {
                       title: {
                            display: true,
                            text: 'Nombre de commentaires par Sentiment'
                        }
                }
        });

        new Chart(document.getElementById("pie-chartT"), {
                type: 'pie',
                data: {
                    labels: {{ listkeys_T | safe }},
                    datasets: [{
                            label: "",
                            backgroundColor: colorArray,
                            data: {{ listvalues_T| safe }},
                            
                    }]
                },
                options: {
                       title: {
                            display: true,
                            text: 'Nombre de commentaires par Attitude',
                       }
                       
                       
                        
                }

        });

        new Chart(document.getElementById("bar-chartpa"), {
                type: 'bar',
                data: {
                    labels: {{ keys_Ag | safe }},
                    datasets: [
                        {
                            label:'Positive',
                            backgroundColor:'#FD6C9E',
                            data: {{ listvaluespa_P | safe }},
                              
                        },
                        {
                            label: 'Négative',
                            backgroundColor: '#AF7AC5',
                            data: {{ listvaluespa_N | safe }},
                              
                        },
                        {
                            label: 'Neutre',
                            backgroundColor: '#5DADE2',
                            data: {{ listvaluespa_NE | safe }},
                              
                        }
                ],
                    
                },
                options: {
                        title: {
                             display: true,
                             text: 'Nombre de commentaires par Polarité pour chaque Aspect',
                        }



                }
   
        });

        new Chart(document.getElementById("bar-chartg"), {
                type: 'bar',
                data: {
                    labels: {{ keys_Ag | safe }},
                    datasets: [
                        {
                            label:'Positive',
                            backgroundColor:'#FD6C9E',
                            data: {{ listvaluesg_P | safe }},
                              
                        },
                        {
                            label: 'Négative',
                            backgroundColor: '#AF7AC5',
                            data: {{ listvaluesg_N | safe }},
                              
                        },
                        {
                            label: 'Neutre',
                            backgroundColor: '#5DADE2',
                            data: {{ listvaluesg_NE | safe }},
                              
                        }
                ],
                    
                },
                options: {
                        title: {
                             display: true,
                             text: 'Nombre de commentaires par Polarité pour chaque Aspect',
                        }



                }
   
        });

        new Chart(document.getElementById("bar-chartgS"), {
                type: 'bar',
                data: {
                    labels: {{ listkeys_Ags | safe }},
                    datasets: [
                            {
                             label: 'Joie',
                             backgroundColor: '#FD6C9E',
                             data: {{ listvaluess_J | safe }},
                              
                            },
                            {
                             label: 'Mécontentement',
                             backgroundColor: '#AF7AC5',
                             data: {{ listvaluess_M | safe }},
                              
                            },
                            {
                             label: 'Ennui',
                             backgroundColor: '#5DADE2',
                             data: {{ listvaluess_E| safe }},
                              
                            },
                            {
                             label: 'Anxiété',
                             backgroundColor: '#E59866',
                             data: {{ listvaluess_A| safe }},
                              
                            },
                            {
                             label: 'Neutre',
                             backgroundColor: '#F5B041',
                             data: {{ listvaluess_NE| safe }},
                              
                            },
                            {
                             label: 'Confusion',
                             backgroundColor: '#AAB7B8',
                             data: {{ listvaluess_F| safe }},
                              
                            },
                            {
                             label: 'Colère',
                             backgroundColor: '#F18989',
                             data: {{ listvaluess_C| safe }},
                              
                            },
                    ],
                    
                },
                options: {
                        title: {
                             display: true,
                             text: 'Nombre de commentaires par Sentiment pour chaque Aspect',
                        }



                }
   
        });

        new Chart(document.getElementById("bar-chartgA"), {
            type: 'bar',
            data: {
                labels: {{ listkeys_Agt | safe }},
                datasets: [
                          {
                           label: 'Amicale',
                           backgroundColor: '#FD6C9E',
                           data: {{ listvaluest_A | safe }},
                              
                          },
                          {
                           label: 'Hostile',
                           backgroundColor: '#AF7AC5',
                           data: {{ listvaluest_H | safe }},
                              
                          },
                          {
                           label: 'Neutre',
                           backgroundColor: '#5DADE2',
                           data: {{ listvaluest_NE | safe }},
                              
                          },
                ],
                    
                },
                options: {
                       title: {
                            display: true,
                            text: 'Nombre de commentaires par Attitude pour chaque Aspect',
                   }



            }
   
        });

        new Chart(document.getElementById("line-chartd"), {
                type: 'bar',
                data: {
                    labels: {{ listkeys_M | safe }},
                    datasets: [{
                            label: "",
                            backgroundColor: colorArray,
                            data: {{ listvalues_M| safe }},
                            
                            
                    }],
                    
                },
                options: {
                       title: {
                            display: true,
                            text: 'Nombre de commentaires par Module',
                       }



                }

        });

        var elem=document.getElementById('line-chartd');
        elem.onclick=function(){
        new Chart(document.getElementById("line-test"), {
                        type: 'bar',
                        data: {
                            labels: {{ listkeys_M | safe }},
                            datasets: [{
                              label: "",
                              backgroundColor: colorArray,
                              data: {{ listvalues_M| safe }},
                            
                            
                            }],
                    
                        },
                        options: {
                               title: {
                                     display: true,
                                     text: 'Nombre de commentaires par Module',
                                }



                        }

        });

        

      
        
        $("#myModal").modal("show");}
        


   </script>
   <footer class="sticky-footer" style="background-color: #343B50;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto" style="color: white;">
            <span>Copyright &copy; Analysis of learners' behaviors and emotions in an online course 2021</span>
        </div>
    </div>
   </footer>
 </body>

 </html>