


{% extends 'layouts/master.html' %}
{% block content %}

<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   
{% block styles %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

<div class="page-heading">
    <div class="page-title">
       
      {%if user.is_teacher%}
                       
      <div class="row">
        
          
          <div class="col">
      
              <div class="dropdown text-center mb-3">

                  <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Cours
                  </button>
                  <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                      <form action={% url 'select_coursDash' %} method="POST">
                          {% csrf_token %}
                      <div class="w-100">
                        {% for cours in list_cours%}
                        
                        <li><button  class="dropdown-item w-100" name="cours" value={{ cours.code }} href="#">{{ cours.code }}</button></li>
                        {% endfor %}
                        
                      </div>
                      </form>
                  </ul>
                </div>
          </div>
        

          <div class="col">
              <div class="dropdown text-center mb-3">

                  <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Année
                  </button>
                  <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                      <form action={% url 'select_annee' %} method="POST">
                          {% csrf_token %}
                          <div class="w-100">
                              <li><button  class="dropdown-item w-100" name="annee" value='2022' href="#">2022</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2021' href="#">2021</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2020' href="#">2020</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2019' href="#">2019</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2018' href="#">2018</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2017' href="#">2017</button></li>
                              <li><button  class="dropdown-item w-100" name="annee" value='2016' href="#">2016</button></li>
                          </div>
                      </form>
                  </ul>
                </div>
          </div>
      </div>
      {%endif%}

    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">Polarité générale</h6>
                    </div>
                    <div class="card-body">
                        <div class="pt-4 pb-2" id="canvas-holder" style="width:100%">
                            <canvas id="doughnutPolarityChart"></canvas>
                          </div>
                          <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fa fa-circle text-success"></i> Positive
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle text-warning"></i> Neutre
                            </span>
                            <span class="mr-2">
                              
                                <i class="fa fa-circle text-danger"></i> Negatve
                            </span>

                           
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">Motivation général</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>

                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fa fa-circle text-success"></i> Intrinseque
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle text-danger"></i> Cout
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle text-primary"></i> Utilité
                            </span>

                            <span class="mr-2">
                                <i class="fa fa-circle text-warning"></i> Accomplissement
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">Nuage de mots</h6>
                    </div>
                    <div class="card-body">
                      
                        {% load static %}
                        <img class="rounded w-100"  src="{% static '/images/wordcloud.png' %}" alt="My image">
                    </div>
                </div>
               
            </div>
           
        </div>
        <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h6 class="text-center">Attitude générale</h6>
              </div>
                <div class="card-body">
                  
                    <div class="pt-5 pb-2">
                        <div class="progress">
                          <!-- <div class="progress-bar bg-success" id="pAttitude" role="progressbar" style="width: 75%" aria-valuenow=80 aria-valuemin="0" aria-valuemax="100">75%</div>
                          <div class="progress-bar bg-secondary" id="neAttitude" role="progressbar" style="width: 7%" aria-valuenow=2 aria-valuemin="0" aria-valuemax="100">7%</div>
                          <div class="progress-bar bg-danger" id="neAttitude" role="progressbar" style="width: 18%" aria-valuenow=18 aria-valuemin="0" aria-valuemax="100">18%</div> -->


                            <div class="progress-bar bg-success" id="pAttitude" role="progressbar" style="width: {{ attitude_a }}%" aria-valuenow={{ attitude_a }} aria-valuemin="0" aria-valuemax="100">{{ attitude_a }}</div>
                            <div class="progress-bar bg-secondary" id="neAttitude" role="progressbar" style="width: {{ attitude_ne }}%" aria-valuenow={{ attitude_ne }} aria-valuemin="0" aria-valuemax="100">{{ attitude_ne }}</div>
                            <div class="progress-bar bg-danger" id="neAttitude" role="progressbar" style="width: {{ attitude_h }}%" aria-valuenow={{ attitude_h }} aria-valuemin="0" aria-valuemax="100">{{ attitude_h }}</div>

                        </div>
                    </div>

                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fa fa-circle text-success"></i> Amicale
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-secondary"></i> Neutre
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-danger"></i> Hostile
                        </span>
                    </div>
                </div>
            </div>

          </div>
          <div class="col">
            <div class="card">
              <div class="card-header pb-1">
                <h6 class="text-center">Attente générale</h6>
            </div>
              <div class="card-body ">
                 
                  <div class="pt-2 pb-1 ">
                    <canvas id="pie-chartEx"></canvas>
                </div>
                      
                  </div>

                  <div class="mt-1 text-center small">
                      <span class="mr-2">
                          <i class="fa fa-circle text-success"></i> Positive
                      </span>

                      <span class="mr-2">
                        <i class="fa fa-circle text-secondary"></i> Neutre
                    </span>
                      <span class="mr-2">
                          <i class="fa fa-circle text-danger"></i> Negative
                      </span>
    
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">Nombre de commentaires par polarité et par Aspect</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="bar-chartpa"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
              <div class="card">
                  <div class="card-header">
                      <h6 class="text-center">Evolution des emotions dans le temps</h6>
                  </div>
                  <div class="card-body">
                      
                    <canvas id="ligne"></canvas>
                      
                  </div>
              </div>
          </div>
           
        </div>
       
        <div class="row">
          
        </div>
    </section>
</div>
{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script>
  var object1 = JSON.parse(JSON.stringify({{ listvalues_S1|safe }}));
  var object2 = JSON.parse(JSON.stringify({{ listvalues_S2|safe }}));
  var object3 = JSON.parse(JSON.stringify({{ listvalues_S3|safe }}));

  console.log({{ listvalues_S8|safe }});
var ctx = document.getElementById("ligne");

var ligneChart = new Chart(ctx, {
    type:'line',
      data:    {
          datasets: [
              {
                  label: "Satisfaction",
                  data: {{ listvalues_S8|safe }},
                  fill: false,
                  borderColor: '#a8c74d',
                  tension: 0.1
              },

              {
                  label: "Joie",
                  data: {{ listvalues_S1|safe }},
                  fill: false,
                  borderColor: '#eec400',
                  tension: 0.1
              },

              {
                  label: "Mécontentement",
                  data: {{ listvalues_S2|safe }},
                  fill: false,
                  borderColor: '#d14334',
                  tension: 0.1
              },
              {
                  label: "Anxiété",
                  data: {{ listvalues_S3|safe }},
                  fill: false,
                  borderColor: '#2c3e56',
                  tension: 0.1
              },

              {
                  label: "Colère",
                  data: {{ listvalues_S4|safe }},
                  fill: false,
                  borderColor: '#15151c',
                  tension: 0.1
              },

              {
                  label: "Ennui",
                  data: {{ listvalues_S5|safe }},
                  fill: false,
                  borderColor: '#8f9e9d',
                  tension: 0.1
              },

              {
                  label: "Confusion",
                  data: {{ listvalues_S6|safe }},
                  fill: false,
                  borderColor: '#eae3d2',
                  tension: 0.1
              },

              {
                  label: "Gratitude",
                  data: {{ listvalues_S7|safe }},
                  fill: false,
                  borderColor: ' #ff9944 ',
                  tension: 0.1
              },

             

              


            

              
          ]
      },
      options: {
          responsive: true,
          title:      {
              display: true,
              
          },
          scales:     {
              xAxes: [{
                  type:       "time",
                  time:       {
                      parser: 'YYYY-MM-DD',
                      tooltipFormat: 'YYYY-MM-DD'
                  },
                 
              }],
              yAxes: [{
                    ticks: {
                        beginAtZero: true
                                }
                            }]
          }
      }
  });
      

</script>

<script>
     
     var options = {
      chart: {
        type: "area",
        height: 300,
        foreColor: "#999",
        stacked: true,
        dropShadow: {
          enabled: true,
          enabledSeries: [0],
          top: -2,
          left: 2,
          blur: 5,
          opacity: 0.06
        }
      },
      colors: ['#00E396', '#0090FF'],
      stroke: {
        curve: "smooth",
        width: 3
      },
      dataLabels: {
        enabled: false
      },
      series: [{
        name: 'Total Views',
        data: generateDayWiseTimeSeries(0, 18)
      }, {
        name: 'Unique Views',
        data: generateDayWiseTimeSeries(1, 18)
      }],
      markers: {
        size: 0,
        strokeColor: "#fff",
        strokeWidth: 3,
        strokeOpacity: 1,
        fillOpacity: 1,
        hover: {
          size: 6
        }
      },
      xaxis: {
        type: "datetime",
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        }
      },
      yaxis: {
        labels: {
          offsetX: 14,
          offsetY: -5
        },
        tooltip: {
          enabled: true
        }
      },
      grid: {
        padding: {
          left: -5,
          right: 5
        }
      },
      tooltip: {
        x: {
          format: "dd MMM yyyy"
        },
      },
      legend: {
        position: 'top',
        horizontalAlign: 'left'
      },
      fill: {
        type: "solid",
        fillOpacity: 0.7
      }
    };

    var chart = new ApexCharts(document.querySelector("timeChart"), options);

    chart.render();

    function generateDayWiseTimeSeries(s, count) {
      var values = [[
        4,3,10,9,29,19,25,9,12,7,19,5,13,9,17,2,7,5
      ], [
        2,3,8,7,22,16,23,7,11,5,12,5,10,4,15,2,6,2
      ]];
      var i = 0;
      var series = [];
      var x = new Date("11 Nov 2012").getTime();
      while (i < count) {
        series.push([x, values[s][i]]);
        x += 86400000;
        i++;
      }
      return series;
    }
      
</script>



<script>
    new Chart(document.getElementById("myPieChart"),{
                type: "pie",
                data: {
                labels: {{ listkeys_V| safe }},
                datasets: [{
                data: {{listvalues_V| safe }},
                backgroundColor: ['#4e73df','#1cc88a', '#f6c23e','#e74a3b'],
                hoverBackgroundColor: ['#4e73df','#1cc88a', '#f6c23e','#e74a3b'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });
    </script>
    
    <!-- polarité general -->
    <script>
    var ctx = document.getElementById("doughnutPolarityChart");
        var dashboardChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Polarité positive", "Polarité neutre", "Polarité negative"],
                datasets: [{
                    label: '# of Votes',
                    data: [{{ p }}, {{ ne }}, {{ n }}],
                    backgroundColor: [
                        'rgba(46, 204, 113, 1)',
                        'rgba(255, 164, 46, 1)',
                        'rgba(231, 76, 60, 1)',
                        
                    ],
                    borderColor: [
                        'rgba(255, 255, 255 ,1)',
                        'rgba(255, 255, 255 ,1)',
                        'rgba(255, 255, 255 ,1)'
                    ],
                    borderWidth: 7
                }]
    
            },
            options: {
                rotation: 1 * Math.PI,
                circumference: 1 * Math.PI,
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                },
                cutoutPercentage: 80
            }
        });
    </script>
    
    
    
    
    
    
        <script >
            var ctx = document.getElementById("chart").getContext("2d");
    
    var chart = new Chart(ctx, {
      type: 'gauge',
      data: {
        datasets: [{
          value: 0.5,
          minValue: 0,
          data: [1, 2, 3, 4],
          backgroundColor: ['green', 'yellow', 'orange', 'red'],
        }]
      },
      options: {
        needle: {
          radiusPercentage: 2,
          widthPercentage: 3.2,
          lengthPercentage: 80,
          color: 'rgba(0, 0, 0, 1)'
        },
        valueLabel: {
          display: true,
          formatter: (value) => {
            return '$' + Math.round(value);
          },
          color: 'rgba(255, 255, 255, 1)',
          backgroundColor: 'rgba(0, 0, 0, 1)',
          borderRadius: 5,
          padding: {
            top: 10,
            bottom: 10
          }
        }
      }
    });
        </script>
    
    <!-- polarité par aspect bar-chart -->
    
        <script>
            // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    
    function number_format(number, decimals, dec_point, thousands_sep) {
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + '').replace(',', '').replace(' ', '');
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
          var k = Math.pow(10, prec);
          return '' + Math.round(n * k) / k;
        };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return s.join(dec);
    }
    
    // Bar Chart Example
    new Chart(document.getElementById("bar-chartpa"), {
                    type: 'bar',
                    data: {
                        labels: {{ keys_Ag | safe }},
                        datasets: [
                            {
                                label:'Positive',
                                backgroundColor:'#FD6C9E',
                                data: {{ listvaluespa_P | safe }},
                                
                                  
                            },
                            {
                                label: 'Négative',
                                backgroundColor: '#AF7AC5',
                                data: {{ listvaluespa_N | safe }},
                                  
                            },
                            {
                                label: 'Neutre',
                                backgroundColor: '#5DADE2',
                                data: {{ listvaluespa_NE | safe }},
                                  
                            }
                    ],
                        
                    },
                    options: {
                        
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                            }
                                        }]
                                    },
                            
                            title: {
                                 display: true,
                                 text: 'Nombre de commentaires par Polarité pour chaque Aspect',
                            }
    
    
    
                    }
       
            });
    
            
    
        </script>
    
        
    <!--pie chart expectancy -->
    
    
    <script>
         new Chart(document.getElementById("pie-chartEx"), {
            type: "pie",
                data: {
                labels: {{ listkeys_Ex| safe }},
                datasets: [{
                data: {{listvalues_Ex| safe }},
                backgroundColor: ['rgba(189, 195, 199)',    
                                'rgba(231, 76, 60, 1)',
                                'rgba(46, 204, 113, 1)',],
                hoverBackgroundColor: [
                'rgba(189, 195, 199)',    
                
                                        'rgba(231, 76, 60, 1)',
                                        'rgba(46, 204, 113, 1)',
                                        
                                        ],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
        //   borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        //cutoutPercentage: 80,
      },
    });
    </script>
    
    
        <script>
        
           
           
    
    
    
    
            var object1 = JSON.parse(JSON.stringify({{ listvalues_S1|safe }}))
            var object2 = JSON.parse(JSON.stringify({{ listvalues_S2|safe }}))
            var object3 = JSON.parse(JSON.stringify({{ listvalues_S3|safe }}))
    
            console.log({{ listvalues_S2|safe }})
            
    
            var ctx = document.getElementById("myLine");
    
            var myLineChart = new Chart(ctx, {
                    labels:[],
                    type: 'line',
                    data: {
                        
                        datasets: [{
                            label: 'Joie',
                            data: {{ listvalues_S1|safe }} ,
                            fill: false,
                          
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,
                            pointRadius: 0,
                        },
    
                        {
                            label: 'Mécontentement',
                            data: object2,
                            
                            fill: false,
                            
                            borderColor: '#e74a3b',
                            tension: 0.1
                        },
    
                        {
                            label: 'Anxieté',
                            data: object3,
                            fill: false,
                            
                            
                            borderColor: '#858796',
                            tension: 0.1
                        }
                    ]
                        }, 
                        options:{
                            plugins: {
                            // Change options for ALL labels of THIS CHART
                                    datalabels: {
                                        display:false,
                                        
                                    }
                            },
                                                // legend: {
                            //         display: false //This will do the task
                            //     },
                            // scales: {
                            
                            //     x: {
                            //         type:"time",
                            //         time: {
                            //             displayFormats: {
                            //                 quarter: "dd/MM/yyyy",
                            //             },
                                    
                            //         scaleLabel: {
                            //             display:     true,
                            //             labelString: 'Date'
                            //         }
                            //     },
    
                            scales: {
                        xAxes: [{
                            
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD',
                                // round: 'day'
                                tooltipFormat: 'YYYY-MM-DD'
                            },
                            // scaleLabel: {
                            // 	display: true,
                            // 	labelString: 'Date'
                            // }
                        }],
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                            }
                                        }]
                                   
                    },
    
     }
                       
                    });
        </script>




{% endblock %}


