
{% extends 'layouts/master.html' %}
{% load static %}
{% block styles %}





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>


<div class="page-heading">
    <h3>Dashboard Administration</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
               
               
                <div class="col">
                    <div class="dropdown text-center mb-3">
        
                        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Niveau
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                            <form action={% url 'select_niv' %} method="POST">
                                {% csrf_token %}
                                <div class>
                                    <li><button  class="dropdown-item" name="niveau" value='1CP' href="#">1CP</button></li>
                                    <li><button  class="dropdown-item" name="niveau" value='2CP' href="#">2CP</button></li>
                                    <li><button  class="dropdown-item" name="niveau" value='1CS' href="#">1CS</button></li>
                                    <li><button  class="dropdown-item" name="niveau" value='2CS' href="#">2CS</button></li>
                                    <li><button  class="dropdown-item" name="niveau" value='3CS' href="#">3CS</button></li>
                                </div>
                            </form>
                        </ul>
                      </div>
                </div>
                <div class="col">
                    <div class="dropdown text-center mb-3">
        
                        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ year }}
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                            <form action={% url 'select_annee' %} method="POST">
                                {% csrf_token %}
                                <div class>
                                    <li><button  class="dropdown-item" name="annee" value='2022' href="#">2022</button></li>
                                    <li><button  class="dropdown-item" name="annee" value='2021' href="#">2021</button></li>
                                   
                                </div>
                            </form>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Nombre de commentaires par polarité et par module</h4>
                        </div>
                        <div class="card-body">
                            <div class="chart-area w-100 h-100">
                                <canvas id="bar-chartpm"></canvas>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card pb-3">
                        <div class="card-header">
                            <h4>Polarité général</h4>
                        </div>
                        <div class="chart-area  w-100 h-100">
                            <canvas id="gaugeP"></canvas>
                        </div>

                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fa fa-circle text-success"></i> Positive
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle text-warning"></i> Neutre
                            </span>
                            <span class="mr-2">
                              
                                <i class="fa fa-circle text-danger"></i> Negatve
                            </span>

                           
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Nuage des mots</h4>
                        </div>
                        <div class="card-body">
                            <img src="{% static '/images/wordcloudall.png' %}" alt="My image" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Dashboard modules</h5>
                </div>
                <div class="card-content pb-4">
                    <div class="accordion accordion-flush h-100 w-80" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              1CP
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-group">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group">
                                           
                                            {% for m in mod_1cp %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                           
                                           
                                     
                                          </ul>
                
                                    </div>
                
                                
                                </div>
                                           
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              2CP
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_2cp %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                
                                    </div>
                
                                    
                                </div>
                                        
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              1CS
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_1cs %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                
                                    </div>
                
                                    
                                </div>  
                            </div>
                          </div>
                        </div>
                
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                2CS
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  <div class="row">
                                      <div class="col">
                                       
                                        <ul class="list-group">
                                            {% for m in mod_2cs_sit %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                                      </div>
                                      <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_2cs_siq %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                                       
                  
                                    </div>
                
                                    <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_2cs_sil %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                  
                                    </div>
                
                                  </div>  
                              </div>
                            </div>
                          </div>
                
                
                
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                3CS
                              </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  <div class="row">
                                      <div class="col">
                                       
                                        <ul class="list-group">
                                            {% for m in mod_3cs_sit %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                                      </div>
                                      <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_3cs_siq %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                                       
                  
                                    </div>
                
                                    <div class="col">
                                        <ul class="list-group">
                                            {% for m in mod_3cs_sil %}
                                            <a></a> <li class="list-group-item"><a href="{{ m.get_absolute_url }}" >{{ m.titre }}</a></li>
                                         {% endfor %}
                                     
                                          </ul>
                  
                                    </div>
                
                                  </div>  
                              </div>
                            </div>
                          </div>
                          
                
                        
                
                          
                         
                      </div>
                </div>
            </div>
          
        </div>
    </section>
</div>
{% endblock %}
{% block js %}
<script  type="module" src="{% static 'new_template/js/pages/dashboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script>

    var colorArray = [
        '#FD6C9E', '#AF7AC5', '#5DADE2', '#E59866', '#F5B041',
        '#AAB7B8', '#F18989', '#06d2a6', '#DFE8AA', '#c45850',
        '#E1CE9A', '#87591A', '#9DC025',  '#FD4626', '#87E990',
        '#C2F732','#679F5A',  '#40826D',   '#DF73FF', '#C71585',
        '#800080','#9683EC','#386F48',    '#FFE4C4',  '#E1CE9A',
        '#CC5500', '#DE9816', '#08541E','#08546C',"#4F546C",'#8EADDB',
        '#8E84DB','#CFB9F2','#7D7905','#ffe1c2','#c0f9fb',"#d48568",
        '#ab5551','#b25d49','#595c48','#f2c796','#d09a8d','#aa5652','#5b7c76',
        '#472e34','#533b3b','#6f5066','#ff7e50','#720126','#54000c','#aeadf0',
        '#585878','#a56470','#c38d94','#3ef9bc','#16b065','#56e38b','#19d5b1','#1ac9e0',
        '#c0e6e8','	#83b3cb','#2d608a','#161f59','#3b537c','#63735a','#443b7c','#7c3b53',
        '#7c643b','#103c08','#fec22d','#011a3f','#bbbbbb','#25bfa9','#3b537c','	#7c3b53',
        '#fdff00','#00abff','#9600ff','#cc8a3f','#64b4c2'
        ];
new Chart(document.getElementById("gaugeP"),{ type: 'doughnut',
        data: {
            labels: ["Polarité positive", "Polarité neutre", "Polarité negative"],
            datasets: [{
                label: '# of Votes',
                data: [{{ p }}, {{ ne }}, {{ n }}],
                backgroundColor: [
                    'rgba(46, 204, 113, 1)',
                    'rgba(255, 164, 46, 1)',
                    'rgba(231, 76, 60, 1)',
                    
                ],
                borderColor: [
                    'rgba(255, 255, 255 ,1)',
                    'rgba(255, 255, 255 ,1)',
                    'rgba(255, 255, 255 ,1)'
                ],
                borderWidth: 7
            }]

        },
        options: {
            legend:{
            display:false
            },
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
           
            tooltip: {
                enabled: false
            },
            cutoutPercentage: 80
        }
});
</script>

<script>

var colorArray = [
'#FD6C9E', '#AF7AC5', '#5DADE2', '#E59866', '#F5B041',
'#AAB7B8', '#F18989', '#06d2a6', '#DFE8AA', '#c45850',
'#E1CE9A', '#87591A', '#9DC025',  '#FD4626', '#87E990',
'#C2F732','#679F5A',  '#40826D',   '#DF73FF', '#C71585',
'#800080','#9683EC','#386F48',    '#FFE4C4',  '#E1CE9A',
'#CC5500', '#DE9816', '#08541E','#08546C',"#4F546C",'#8EADDB',
'#8E84DB','#CFB9F2','#7D7905','#ffe1c2','#c0f9fb',"#d48568",
'#ab5551','#b25d49','#595c48','#f2c796','#d09a8d','#aa5652','#5b7c76',
'#472e34','#533b3b','#6f5066','#ff7e50','#720126','#54000c','#aeadf0',
'#585878','#a56470','#c38d94','#3ef9bc','#16b065','#56e38b','#19d5b1','#1ac9e0',
'#c0e6e8','	#83b3cb','#2d608a','#161f59','#3b537c','#63735a','#443b7c','#7c3b53',
'#7c643b','#103c08','#fec22d','#011a3f','#bbbbbb','#25bfa9','#3b537c','	#7c3b53',
'#fdff00','#00abff','#9600ff','#cc8a3f','#64b4c2'
];
new Chart(document.getElementById("bar-chartpm"), {
type: 'bar',
data: {
labels: {{ listkeys_pol_mod | safe }},
datasets: [
    {
        label:'Positive',
        backgroundColor:'#a8c74d',
        data: {{ listvalues_P | safe }},
          
    },
    {
        label: 'Négative',
        backgroundColor: '#e74a3b',
        data: {{ listvalues_N | safe }},
          
    },
    {
        label: 'Neutre',
        backgroundColor: '#8f9e9d',
        data: {{ listvalues_NE | safe }},
          
    }
],

},
options: {
    plugins: {
      zoom: {
        zoom: {
          wheel: {
            enabled: true,
          },
          pinch: {
            enabled: true
          },
          mode: 'xy',
        }
      }
    }
  ,
    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                                        }
                                    }]
                                },
    title: {
         display: false,
         text: 'Nombre de commentaires par Polarité pour chaque Module',
    }
}

});
</script>

<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}