<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {{ data }}

    <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col"> <h1>Commentaire</h1></th>
           
          </tr>
        </thead>
        <tbody>
            {% for datum in data %}
          <tr>
            <td>{{datum}}</td>

          
          </tr>
          {%endfor%}
         
         
        </tbody> -->
      </table>
</body>
</html>